<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>busan119.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>18</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
				<key>dateExpires</key>
				<string>12/29/28</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D986948DA5FEEFDB3CC78B5672CB7464D9D9814E</string>
						<key>dateExpires</key>
						<string>12/29/28</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3LV2F33F34</string>
						<key>name</key>
						<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3LV2F33F34.com.goodnsoft.newbusan119</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3LV2F33F34</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>busan119.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>867618b2-e2f2-441d-8220-5014fc8198c5</string>
				<key>dateExpires</key>
				<string>12/30/26</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.goodnsoft.newbusan119</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3LV2F33F34</string>
				<key>name</key>
				<string>Busan Metropolitan City Fire&amp;Disaster Headquarters</string>
			</dict>
			<key>versionNumber</key>
			<string>2.3</string>
		</dict>
	</array>
</dict>
</plist>
